{{ block title }} 第{{ round_number }}ラウンド：提案 {{ endblock }}

{{ block content }}
    <div class="alert alert-info">
        {{ lottery_text }}
    </div>

    {# 履歴を表示するセクション #}
    {% if history %}
    <table class="table">
        <tr>
            <th>ラウンド</th>
            <th>提案内容</th>
        </tr>
        {% for r in history %}
        <tr>
            <td>{{ r.round }}</td>
            <td>
                {# Python側の構造に合わせてループ #}
                {% for p in r.proposals %}
                    {{ p.proposal }}円 &nbsp;
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    {% formfields %}
    <button class="btn btn-primary">送信</button>
{{ endblock }}